body{
    background-color: rgb(13, 13, 83);
    margin-left: 2cm;
}
.hot{
    text-decoration: underline;
    color: white;
}
.week{
display: flex;
gap: 1cm;
text-decoration: none;
background-color: black;
color: white;
margin: auto;
padding: 10px
}
.easy{
    display: flex;
    gap: 1cm;
    color: white;
    list-style-type:none;
}
.poll{
    margin-left: 16cm;
    color: white;
    font-size: 28px;
}
.kilo{
    background-color: rgb(43, 43, 225);
    color: white;
    border: 0;
    border-radius: 5px;
    width: 100px;
    padding: 6px;
    height: 1cm;   
}
.jpg{
gap: 3cm;
display: flex;
}
.wort{
    gap: 2cm;
    display: flex;
}
.hero{
    float: right;
margin-left: auto;
    width: 500px;
    height: 70px;
}